<!DOCTYPE html>
<html lang="en">

<head>
    <title>Account list</title>
</head>

<body>
    <main>
        <div>

            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of Receipts</th>
                </thead>
                <tbody>

                    {% for items in account_list %}

                    <tr>
                        <td>{{ items.name }}</td>
                        <td>{{ items.number }}</td>
                        <td>{{ items.owner.categories.count }}</td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>
    </main>
</body>

</html>
